@media screen and (max-width: 1280px) { .Akcii {background-color: #000;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { .Akcii {background-color: #000;} }

@import url("https://fonts.googleapis.com/css?family=Lato|Raleway");
@font-face {
  font-family: Roboto Condensed;
  src: url(../fonts/Roboto.ttf); }

border {
  background-color: #f2f2f2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #555;
  margin-top: 70px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Ralewy";
  font-weight: 300;
  color: #333; }

p {
  line-height: 22px;
  margin-bottom: 25px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif; }

a:hover, a:focus {
  color: #50b848; }

.centered {
  text-align: center; }

.navbar {
  font-weight: 800;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-color: #434343;
  background-color: #434343; }

.navbar-br img {
  width: 150px;
  height: 55px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0; }

.phone {
  font-size: 16px;
  color: #fff; }
  .phone i {
    padding-right: 5px;
    font-size: 20px; }

.navbar-inverse .navbar-nav > li > a {
  color: #fafafa; }

.active2:hover {
  background-color: #50b848;
  border-radius: 10px; }

.navbar-inverse .navbar-brand {
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: 1px; }

#headerwrap {
  background: #e0e0e0;
  margin-top: 80px;
  padding-top: 20px;
  text-align: center;
  background-position: center center;
  min-height: 500px;
  background-attachment: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

#headerwrap h1 {
  margin-top: 100px;
  line-height: 10%;
  color: dark;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: none; }

#headerwrap h2 {
  color: #50b848;
  font-family: 'Bangers', cursive;
  line-height: 55%;
  font-size: 60px;
  letter-spacing: 2px;
  text-transform: none; }

#headerwrap h4 {
  padding-top: 20px;
  text-align: left;
  padding-bottom: 80px; }

.button1 {
  position: relative;
  color: #fff;
  background-color: #50b848;
  display: inline-block;
  font-size: 16px;
  width: 12em;
  height: 2.8em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #fff;
  outline: none;
  border: 2px solid #50b848;
  border-radius: 10px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: #50b848; }
  .button1:link {
    color: #fff;
    text-decoration: none; }
  .button1:visited {
    top: .1em;
    left: .1em;
    color: #fff;
    text-decoration: none; }
  .button1:active {
    top: .1em;
    left: .1em;
    color: #fff;
    text-decoration: none; }
  .button1:hover {
    color: #fff;
    text-decoration: none; }

.car img {
  position: relative;
  padding-right: 97px;
  width: 950px;
  height: 650px;
  margin-left: -100px; }

.kybiki {
  background-color: #434343;
  padding: 40px; }

.first {
  background: linear-gradient(to top right, #222, #225);
  font-family: 'Roboto', sans-serif;
  height: 200px; }

.second, .last {
  background: linear-gradient(to top right, #222, #225); }
  .second big, .last big {
    font-size: 20px; }

.offer-item {
  color: #fff;
  border: 2px solid #F64C2B;
  border-radius: 15px;
  padding: 30px 20px 0;
  position: relative;
  height: 150px;
  font-size: 18px; }

.pull-left1 {
  float: left; }

.pull-right1 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -3px;
  float: right !important; }

.offer-item-info {
  font-size: 15px;
  text-transform: uppercase;
  opacity: .5;
  right: 20px;
  bottom: 10px;
  position: absolute;
  padding-top: 80px; }

.column h2 {
  font-family: 'Bangers', cursive;
  font-weight: 700;
  font-size: 3rem;
  color: #50b848;
  line-height: 1.5;
  letter-spacing: -.01rem;
  margin-top: .8em;
  margin-bottom: 40px; }

.ysl {
  width: 65%;
  position: relative;
  margin-left: 20%;
  margin-right: 20%; }

.slider-single {
  display: block; }

.slide1 {
  padding: 0px;
  border: 1px solid #50b848;
  border-radius: 10px;
  height: 415px; }

.slide11 img {
  padding-right: 20px; }
  .slide11 img h2 {
    font-family: 'Bangers', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: #50b848;
    line-height: 1.5;
    letter-spacing: -.01rem;
    margin-top: .8em;
    margin-bottom: .8em; }

.button_usl {
  margin-top: 50px; }

.js .slider-single > div:nth-child(1n+2) {
  display: none; }

.js .slider-single.slick-initialized > div:nth-child(1n+2) {
  display: block; }

#page {
  text-align: center; }

h3 {
  color: #000;
  font-size: 2.25rem;
  margin: .5rem;
  padding: 2%;
  position: relative;
  text-align: center;
  margin-bottom: -10px; }

.slider-single h3 {
  line-height: 1.9rem;
  font-family: "Ralewy";
  font-size: 20px;
  color: #333;
  text-align: center;
  margin: 0px;
  padding: 0px; }

.img_usl1 {
  height: 100%;
  width: 100%;
  margin: 20px; }

.img_gruz {
  height: 80%;
  width: 80%; }

.s_our_ysll {
  height: 170px;
  background-color: #fff; }
  .s_our_ysll:hover {
    background-color: #50b848;
    border-radius: 10px;
    color: #fff; }
  .s_our_ysll:before {
    background-color: red; }

.h3 {
  font-size: 16px;
  padding-top: 0px;
  font-family: 'Bangers', cursive; }

.imgg {
  padding-top: 0px; }

.png {
  filter: hue-rotate(0deg -130deg);
  color: red; }

.imgg img {
  position: relative;
  display: inline;
  text-align: center;
  width: 63px;
  height: 72px; }

.slider-nav h3::before {
  margin-bottom: 20px;
  display: block; }

.slider-nav h3 span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.slider-nav .slick-slide {
  cursor: pointer; }

.slick-slide.is-active {
  color: #fff;
  background-color: #50b848;
  border-radius: 8px; }

.Akcii {
  background-color: #434343;
  margin: 20px 0; }

.Akcii_h {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative; }
  .Akcii_h h2 {
    font-family: 'Bangers', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: #50b848;
    line-height: 1.5;
    letter-spacing: -.01rem;
    margin-bottom: 40px; }

.Akcii_2 {
  border: 2px solid green;
  overflow: hidden;
  font-family: 'Bangers', cursive;
  display: inline-block;
  border-radius: 10px;
  height: 300px;
  width: 100%;
  margin-bottom: 40px; }

.block2_Akcii_1 {
  background-color: #fafafa;
  height: 100%; }
  .block2_Akcii_1 h3 {
    font-style: bold;
    font-size: 45px;
    color: red;
    margin-top: 30px;
    line-height: .9; }
  .block2_Akcii_1 p {
    font-family: 'Lato', cursive;
    font-size: 30px;
    color: #434343;
    margin-top: 20px;
    line-height: .9; }

.block2_Akcii_2 {
  overflow: hidden;
  width: 50%;
  height: 100%;
  background: url(../img/usl/noch.jpg);
  background-size: cover; }

.block2_Akcii_2_2 {
  overflow: hidden;
  width: 50%;
  height: 101%;
  margin-top: -2px;
  background: url(../img/usl/hal.jpg);
  background-size: 100% 100%; }

.block2_Akcii_2_3 {
  overflow: hidden;
  width: 50%;
  height: 100%;
  background: url(../img/usl/vih.jpg);
  background-size: 100% 100%; }

.title {
  background-color: #503d3f;
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 60px;
  font-weight: 400;
  position: relative;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px; }
  .title:after {
    content: "";
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1px;
    border: 20px solid transparent;
    border-top-color: #503d3f;
    z-index: 10; }

@media screen and (max-width: 768px) {
  .title {
    line-height: 30px;
    font-size: 20px;
    padding: .5em; }
  
}

h2.title + .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #50b848; }

h2.title.five {
  background-color: #eec643; }
  h2.title.five:after {
    border-top-color: #eec643; }

h2.title span {
  color: #fff;
  font-family: "Roboto", sans-serif;
  line-height: 40px;
  font-weight: 700; }

.block-one-example {
  margin: 30px 0;
  position: relative; }

header {
  font-family: "Roboto", sans-serif;
  background: url("../img/for-demo/brushed-alum.png") #FFFFFF;
  text-align: center;
  padding: 30px 0; }
  header h1 {
    color: #fff;
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    padding: 20px 0;
    text-transform: uppercase;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2); }
  header .innerBorder {
    width: 80%;
    margin: 0 auto;
    max-width: 960px;
    color: #fff;
    background: url("../img/for-demo/brushed-alum.png") #01bc78;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px; }
    header .innerBorder a {
      border: 1px solid #fff;
      color: #01BC78;
      background-color: #fff;
      padding: 4px 10px;
      text-decoration: none;
      font-weight: 600;
      -webkit-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease; }
      header .innerBorder a:hover {
        color: #fff;
        background-color: transparent; }
  header p {
    text-align: left;
    padding: 20px; }

@media screen and (max-width: 768px) {
  header h1 {
    font-size: 30px;
    line-height: 34px;
    padding: 20px 0; } }

@media screen and (max-width: 768px) {
  header .innerBorder a {
    display: block; } }

footer {
  background: url(../img/for-demo/bg2.jpg) #F0F0F0 repeat;
  padding: 30px 0;
  font-family: "Roboto",sans-serif;
  text-align: center; }
  footer p {
    font-size: 25px; }
  footer ul {
    width: 50%;
    max-width: 300px;
    margin: 0 auto; }
    footer ul li {
      margin-top: 20px; }
  footer a {
    text-decoration: none;
    color: #5C5C5C; }

.menu-top-demo {
  margin-top: 30px; }
  .menu-top-demo ul {
    text-align: center; }
    .menu-top-demo ul li {
      text-align: center;
      display: inline-block;
      line-height: 50px; }
      .menu-top-demo ul li a {
        display: block;
        padding: 0 20px;
        color: #fff;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 800;
        margin: 10px;
        color: #4BC096;
        border: 2px solid #4BC096;
        -webkit-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease; }
        .menu-top-demo ul li a:hover {
          border: 2px solid #D8D8D8; }
        .menu-top-demo ul li a.active {
          background-color: #4BC096;
          color: #fff;
          border: 2px solid #4BC096; }
          .menu-top-demo ul li a.active:hover {
            background-color: #4BC096;
            color: #fff;
            border: 2px solid #4BC096; }

.icon-download a {
  color: #fff;
  text-decoration: none;
  position: absolute;
  display: inline-block;
  width: 100px;
  text-align: center;
  top: 0;
  right: 0;
  display: block;
  line-height: 60px; }

.fileSizeDemo {
  color: #fff;
  opacity: 1;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  background-color: #39BE8E;
  text-align: center;
  padding: 10px 0;
  display: block;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  border-radius: 4px;
  font-size: 24px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.4);
  opacity: 0; }
  .fileSizeDemo:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    width: 1px;
    border: 10px solid transparent;
    border-top-color: #39BE8E; }

.icon-download a:hover .fileSizeDemo {
  color: #fff;
  opacity: 1;
  position: absolute;
  top: -70px; }

.container {
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  pading-top: 30px; }

.inner-testimonial {
  text-align: center;
  padding-top: 15px;
  background-color: #fff; }
  .inner-testimonial > img {
    max-width: 128px;
    margin: 0 auto 15px;
    opacity: 0;
    -webkit-transition: all 1.3s linear;
    transition: all 1.3s linear; }

.owl-item.active .inner-testimonial > img {
  -webkit-transition: all 1.3s linear;
  transition: all 1.3s linear; }
  .owl-item.active .inner-testimonial > img.full-opacity {
    opacity: 1;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear; }

h3.city-name {
  padding: 10px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 900; }

.text-testimonial {
  padding: 10px 0;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 25px; }

.block-items {
  cursor: default; }

.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
  background: #50b848; }

.owl-theme .owl-dots .owl-dot.active span {
  width: 18px;
  height: 18px;
  background: #50b848; }

.owl-my-nav {
  position: absolute;
  width: 100%;
  height: 100%; }
  .owl-my-nav .owl-prev, .owl-my-nav .owl-next {
    position: absolute;
    color: #50b848;
    width: 60px;
    top: 34%;
    font-size: 100px;
    z-index: 20;
    cursor: pointer;
    opacity: 0.5;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease; }
  .owl-my-nav .owl-prev:hover, .owl-my-nav .owl-next:hover {
    opacity: 0.8; }
  .owl-my-nav .owl-prev {
    left: 50px; }
  .owl-my-nav .owl-next {
    right: 50px;
    text-align: right; }

@media only screen and (max-width: 768px) {
  .text-testimonial {
    font-size: 14px; }
  .owl-my-nav .owl-prev, .owl-my-nav .owl-next {
    font-size: 50px; }
  .owl-my-nav .owl-prev {
    left: 10px; }
  .owl-my-nav .owl-next {
    right: 10px; } }

#footer {
  background: #434343;
  padding-top: 30px;
  padding-bottom: 20px; }
  #footer i {
    color: #bdbdbd;
    font-size: 30px;
    padding: 5px; }
    #footer i:hover {
      color: #50b848; }

.nav .fot_phone {
  padding-top: 5px; }

#form {
  padding: 50px 20px;
  background-color: #fff;
  max-width: 320px;
  margin: auto;
  position: relative; }

#form input {
  width: 100%;
  margin-bottom: 10px; }

.hidden {
  display: none; }

#form {
  padding: 30px;
  background-color: #ffffff;
  max-width: 350px;
  margin: auto;
  position: relative; }

#form input {
  width: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0 0 15px;
  outline: 0;
  border: 0;
  background: #f2f2f2;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px; }

.button_form {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 10px; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8; }
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0; }

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out; }

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.rounded-img-wrap {
  border-radius: 10em;
  border: red 6px solid;
  overflow: hidden;
  width: 135px;
  height: 135px;
  text-align: center;
  margin: auto;
  transition: all 0.5s ease; }
  .rounded-img-wrap img {
    max-width: 100%; }
  .rounded-img-wrap:hover {
    transform: scale(1.2); }

.jacor {
  margin-bottom: 10px;
  opacity: 1;
  background-color: #000; }

.contact-form {
  padding: 32px 26px;
  background-color: black; }
  .contact-form .button {
    margin-top: 20px; }
  .contact-form-head {
    text-align: center; }
    .contact-form-head h4 {
      font-size: em(18px);
      color: #fff;
      margin-top: 0;
      margin-bottom: 5px; }
    .contact-form-head p {
      color: #fff;
      opacity: .6;
      font-size: em(14px);
      margin-top: 0px; }

.text-center {
  text-align: center;
  margin-bottom: 40px; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
  .slick-initialized .slick-slide {
    max-height: 900px;
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 10px; }
  .button_slider a {
    margin-top: -20px;
    right: 6px; }
  .Akcii {
    margin: 0 0; }
  .media1 h2 {
    line-height: 20px;
    margin: 10px -24px; }
  .media2 h2 {
    line-height: 20px;
    margin: 10px -25px; }
  .media2 p {
    margin-top: 10px; }
  }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  #headerwrap {
    margin: 0px;
    height: 600px; }
    #headerwrap h2 {
      color: #50b848;
      font-family: 'Bangers', cursive;
      line-height: 55%;
      font-size: 30px;
      letter-spacing: 2px;
      text-transform: none; }
  .car {
    visibility: hidden; }
  .br_stroimat {
    visibility: hidden; }
  .slick-initialized .slick-slide {
    max-height: 900px;
    height: auto;
    padding-bottom: 30px;
    margin-bottom: 10px; }
  .button_slider a {
    margin-top: -20px;
    right: 6px; }
  .Akcii {
    margin: 0 0; }
  .media1 h2 {
    line-height: 20px;
    margin: 10px -24px; }
  .media2 h2 {
    line-height: 20px;
    margin: 0px -25px; }
  .media2 p {
    margin-top: 10px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  #headerwrap {
    margin: 0px;
    height: 600px; }
    #headerwrap h2 {
      color: #50b848;
      font-family: 'Bangers', cursive;
      line-height: 55%;
      font-size: 30px;
      letter-spacing: 2px;
      text-transform: none; }
  .car {
    visibility: hidden; }
  .br_stroimat {
    visibility: hidden; }
  .slick-initialized .slick-slide {
    max-height: 900px;
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 10px; }
  .button_slider a {
    margin-top: -20px;
    right: 6px; }
  .Akcii {
    margin: 0 0; }
  .media1 h2 {
    line-height: 20px;
    margin: 10px -24px; }
  .media2 h2 {
    line-height: 20px;
    margin: 0px -25px; }
  .media2 p {
    margin-top: 10px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  .button1 {
    margin-top: -120px; }
  .offer-item-info {
    visibility: hidden; }
  .pull-right {
    font-size: 40px; }
  .gas {
    font-size: 16px;
    margin-top: -50px; }
    .gas .big {
      visibility: hidden; }
  .pull-left big {
    font-size: 18px; }
  .slick-initialized .slick-slide {
    max-height: 900px;
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 10px; }
  .button_slider a {
    margin-top: -20px;
    right: 6px; }
  .Akcii {
    margin: 0 0; }
  .media1 h2 {
    line-height: 20px;
    margin: 10px -24px; }
  .media2 h2 {
    line-height: 20px;
    margin: 0px -25px; }
  .media2 p {
    margin-top: 10px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
  .slick-initialized .slick-slide {
    max-height: 900px;
    height: auto;
    padding-bottom: 40px;
    margin-bottom: 10px; }
  .actia {
    margin-top: 10px; }
  .Akcii {
    margin: 40px 0 0 0; }
  .media2 h2 {
    margin-top: 5px; }
  .media2 p {
    margin: 5px -15px 20px -15px; } }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
 
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .slick-initialized .slick-slide {
    max-height: 400px;
    padding-bottom: 46px;
    margin-bottom: 10px; }
  .button_slider a {
    margin-top: 20px;
    right: 6px; }
  .Akcii {
     
    margin: 20px 0 0 0; }
  .media1 h2 {
    line-height: 20px;
    margin: 10px -24px; }
  .media2 h2 {
    line-height: 20px;
    margin: 10px -25px; }
  .media2 p {
    margin-top: 10px; }
  .rounded-img-wrap {
    border : green 10px solid ;
    overflow: hidden; }
  /**/ }
@media only screen and (min-width: 2000px) {
  .slick-initialized .slick-slide {
    max-height: 400px;
    padding-bottom: 46px;
    margin-bottom: 10px; }
  .button_slider a {
    margin-top: 20px;
    right: 6px; }
  .Akcii {
     
    margin: 20px 0 0 0; }
  .media1 h2 {
    line-height: 20px;
    margin: 10px -24px; }
  .media2 h2 {
    line-height: 20px;
    margin: 10px -25px; }
  .media2 p {
    margin-top: 10px; }
  .rounded-img-wrap {
    border : blue 10px solid ;
    overflow: hidden; }
  /**/ }
