@charset "UTF-8";
.header {
  background-color: #333; }

.logo {
  margin-top: 10px;
  width: 150px;
  height: 55px;
  /*меню*/ }

.header_menu {
  background-color: #333; }

.menu_item {
  padding: 10px 10px 0; }

.nav-link {
  font-size: 18px; }

.phone i {
  padding-right: 5px; }

.nav-link:hover {
  color: #fff;
  background-color: #50b848;
  transition: 0.35s ease;
  border-radius: 10px; }

.phone {
  font-size: 18px;
  color: #9d9d9d;
  display: block;
  padding-top: 17px; }

.phone:hover {
  color: #fff;
  text-decoration: none;
  transition: 0.55s ease;
  transform: scale(1.1, 1.1); }

#headerwrap {
  background: #e0e0e0;
  margin-top: 80px;
  padding-top: 20px;
  text-align: center;
  background-position: center center;
  min-height: 500px;
  background-attachment: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover; }

#headerwrap {
  margin-top: 0; }
  #headerwrap h1 {
    margin-top: 20px;
    line-height: 10%;
    color: dark;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: none; }
  #headerwrap h2 {
    color: #50b848;
    font-family: 'Bangers', cursive;
    line-height: 55%;
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: none;
    margin-top: 20px; }
  #headerwrap h4 {
    padding-top: 20px;
    text-align: left;
    padding-bottom: 40px; }

.button1 {
  position: relative;
  color: #fff;
  background-color: #50b848;
  display: inline-block;
  width: 12em;
  height: 2.8em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 1px #fff;
  outline: none;
  border: 2px solid #50b848;
  border-radius: 10px;
  box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, 0.1em 0.1em 0.2em #800;
  background: #50b848;
  font-size: 18px; }
  .button1:link {
    color: #fff;
    text-decoration: none; }
  .button1:visited {
    top: .1em;
    left: .1em;
    color: #fff;
    text-decoration: none; }
  .button1:active {
    top: .1em;
    left: .1em;
    color: #fff;
    text-decoration: none; }
  .button1:hover {
    color: #fff;
    text-decoration: none; }

.car img {
  position: relative;
  padding-right: 97px;
  width: 950px;
  height: 650px;
  margin-left: -100px; }

.kybiki {
  background-color: #434343;
  padding: 40px; }

.first {
  background: linear-gradient(to top right, #222, #225);
  font-family: 'Roboto', sans-serif;
  height: 200px; }

.second, .last {
  background: linear-gradient(to top right, #222, #225); }
  .second big, .last big {
    font-size: 20px; }

.offer-item {
  color: #fff;
  border: 2px solid #F64C2B;
  border-radius: 15px;
  padding: 30px 20px 0;
  position: relative;
  height: 150px;
  font-size: 18px; }

.pull-left1 {
  float: left; }

.pull-right1 {
  font-size: 40px;
  line-height: 60px;
  letter-spacing: -3px;
  float: right !important; }

.offer-item-info {
  font-size: 15px;
  text-transform: uppercase;
  opacity: .5;
  right: 20px;
  bottom: 10px;
  position: absolute;
  padding-top: 80px; }

.column h2 {
  font-family: 'Bangers', cursive;
  font-weight: 700;
  font-size: 3rem;
  color: #50b848;
  line-height: 1.5;
  letter-spacing: -.01rem;
  margin-top: .8em;
  margin-bottom: 40px; }

/*медиазапросы*/
@media screen and (max-width: 768px) {
  .logo {
    display: none;
    width: 100px; }
  .toggle_button {
    position: right; }
  .nav-link {
    text-align: center; }
  .car img {
    display: none; }
  #headerwrap {
    padding-bottom: 20px; }
    #headerwrap h1 {
      font-size: 30px; }
    #headerwrap h2 {
      font-size: 30px; }
  .kybiki {
    padding-top: 20px; } }
